   <div class="col s12">
              
                <div class="col s3 center-align">

                    <div style="height:200px;width:200px;">
                        <canvas height="100" width="100" id="doughnut" class="chart chart-doughnut" chart-data="data" chart-options="options" chart-labels="labels">
                        </canvas>
                    </div>
                </div>
                                <div class="col s3">

                    <div style="height:200px;width:200px;">
                        <canvas height="100" width="100" id="doughnut" class="chart chart-doughnut" chart-data="data2" chart-options="options" chart-labels="labels">
                        </canvas>
                    </div>
                </div>
                <div class="col s3">

                    <div style="height:200px;width:200px;">
                        <canvas height="100" width="100" id="doughnut" class="chart chart-doughnut" chart-data="data" chart-options="options" chart-labels="labels">
                        </canvas>
                    </div>
                </div>
                                <div class="col s3">

                    <div style="height:200px;width:200px;">
                        <canvas height="100" width="100" id="doughnut" class="chart chart-doughnut" chart-data="data2" chart-options="options" chart-labels="labels">
                        </canvas>
                    </div>
                </div>
                
                <div class = "col s3 center-align ">
                    <p class = "montserrat white-text">Activity</p>
                </div>
                 <div class = "col s3 center-align ">
                    <p class = "montserrat white-text">Activity</p>
                </div>
                 <div class = "col s3 center-align ">
                    <p class = "montserrat white-text">Activity</p>
                </div>
                 <div class = "col s3 center-align ">
                    <p class = "montserrat white-text">Activity</p>
                </div>
                 <div class = "col s6 left-align" >
                     <p class= "montserrat grey-text ">Recent Messages</p>
             
                </div>
                <div class = "col s6">
                                         <p class= "montserrat grey-text ">Recent Messages</p>

                </div>
                
                <div class = "col s6" style="border:2px solid white;">
                    <div class = "col s2">
                      <a href="/profile/dianamoon">
                <div style="border-radius:100px; background-image:url('./img/moon.jpg'); border:2px solid white; width:40px; height:40px;">
                </div>
            </a>
           
                    </div>
                    <div class = "col 10 left-align">
                        <p class = "montserrat white-text">From: Midnight</p>
                        
                        <i class = "material-icons grey-text">format_quote
                        </i><span class = "montserrat white-text">Where you at?</span>
 <i class = "material-icons grey-text">format_quote
                        </i>
                    </div>
                </div>
                <div class = "col s6">
                </div>
              
                </div>