<div class="row">
    <div class = "row">
    </div><div class = "row">
    </div>
    <div class="col s6 center-align">
       <a href="#"> <span ng-click="openInbox()" style="text-decoration:underline;"class="montserrat">Inbox</span></a>

    </div>
    <div ng-click="openCompose()" class="col s6 center-align ">
       <a href="#"> <span class="montserrat underline" style="text-decoration:underline;">Compose</span></a>

    </div>
    <div class = "col s12" style="border-bottom:1px solid #ddd;">
    </div>
    <div class = "row">
    </div>

    <div ng-show="inboxOpen" class="animated fadeIn">

        <div class="col s12" >
            <div class="row">
                <div class="col s2 center-align">
                    
                    <span class="montserrat grey-text truncate">Read/Unread</span>
                </div>

                <div class="col s2">
                    <span class="montserrat grey-text">From</span>
                </div>

                <div class="col s8">
                    <span class="montserrat grey-text">Subject</span>

                </div>
                <div ng-repeat="page in messagesPaginated[page] track by $index">
                    <div class="row">
                        <div class="col s2">
                            <div ng-show="page.read">
                                 <i ng-click="openMessage($index,page.messageIndex)" class="material-icons">drafts</i>
                            </div>
                            <div ng-show="!page.read">
                                <i ng-click="openMessage($index,page.messageIndex)" class="material-icons">email</i>
                            </div>
                        </div>
                        <div class="col s2 center-align">
                            <span ng-click="openMessage($index,page.messageIndex)" class="montserrat grey-text">{{page.from}}</span>
                        </div>
                        <div class="col s8">

                            <span ng-click="openMessage($index,page.messageIndex)" class="montserrat grey-text">{{page.subject}}</span>



                        </div>
                        <div class = "row">
                        
                        <div class="col s12 animated fadeIn align-left " style="border:1px solid #ddd;" ng-show="messageIndex == $index">
                           <p class="flow-text montserrat" style="font-size:19px;"> {{page.body}}</p>
                        </div>
                        <div class="col s12 animated fadeIn align-left " style="border-top:1px solid #ddd;" ng-show="messageIndex == $index">
                                 <i ng-click="markAsUnread($index,page.messageIndex)" class="material-icons">undo</i>
                        </div>
                        </div>
                    </div>

                </div>


                <div class="col s2">
                    <span class="montserrat grey-text">{{page.from}}</span>
                </div>

                <div class="col s8">
                    <span class="montserrat grey-text">{{page.subject}}</span>

                </div>
            </div>
            <div class="col s2">
            </div>

        </div>

        <div ng-show="composeOpen" class="animated fadeIn">
            <div class="col s12">
                <div class="row">

                    <div class="col s12">
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="first_name" type="text" class="validate">
                                        <label for="first_name">First Name</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="last_name" type="text" class="validate">
                                        <label for="last_name">Last Name</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="textarea1" class="materialize-textarea" ng-model="messageObject.body" name="body"></textarea>
                                        <label for="textarea1">Textarea</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class=" input-field col s12 center-align">
                                <button ng-click="submitMessage2()" class="waves-effect waves-light blue-grey btn">Submit</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col s2">
                <span class="montserrat grey-text">{{page.from}}</span>
            </div>

            <div class="col s8">
                <span class="montserrat grey-text">{{page.subject}}</span>

            </div>
        </div>
        <div class="col s2">
        </div>

    </div>
</div>


<div class="row">
    <div class="col s1">
        <i class="material-icons grey-text" style="opacity:0;">email</i>
    </div>
    <div class="col s11 center-align">
        <div class="col s6">

            <i class="material-icons grey-text">chevron_left</i>
        </div>
        <div class="col s6">

            <i class="material-icons grey-text" ng-click="changePageMessages()">chevron_right</i>
        </div>

    </div>
</div>
</div>