
<div class = "row">
        <div class = "row">
        <div class = "col s2">
                                    <i ng-click="exitBookingsPage()" class = "material-icons underline left-align" style="font-decoration:underline;">keyboard_return</i>

    </div>
    <div class = "col s8" style="border-bottom:1px solid #ddd;">
        
        <i class = "material-icons">schedule</i>
    </div>
    <div class = "col s2">
                    

    </div>
 
    </div>
        <div class = "col s2">

            <i ng-click="changeBooking()" class = "material-icons underline" style="font-decoration:underline;">chevron_left</i>
    </div>
    <div class = "col s8">
        <p class = "atypewriter animated  " class = "atypewriter"style= "font-size:20px;" ng-class="{'slideout':slideOutLeft,'bookingpage.shino':slideInRight}">{{bookings[currentBooking].date}}</p>
        <p class = "atypewriter animated slideInRight  " class = " atypewriter "style="font-size:20px;" ng-class="{'slideout':slideOutLeft,'slidein':slideInRight}">{{bookings[currentBooking].time}}</p>
    </div>
    <div class = "col s2">
                    <i class = "material-icons">chevron_right</i>

    </div>
 
    </div>
</div>


